<div class="resource-view-container">
    <div style="width: 60%; margin: auto">
        <div id="button-panel">
            <div class="button">
                <input type=button onClick="location.href='../'" class="btn btn-primary" value="HOME">
            </div>
            <div class="button">
                <button (click)="downloadRDFXML()" class="btn btn-primary">Download RDF+XML</button>
            </div>
            <div class="button">
                <button (click)="downloadJSON()" class="btn btn-primary">Download JSON</button>
            </div>
        </div>
        <div class="heading">
            <h1>About: {{ rdfResource.subject }}</h1>
        </div>
        <div class="extract">
            <h3>{{ rdfResource.extract }}</h3>
        </div>
        <div class="table-content">
            <table id='t01' style="width: 100%; word-wrap:break-word; white-space: wrap; float: center;" border="1" *ngIf="rdfResource">
                <thead>
                    <th>Property</th>
                    <th>Value</th>
                </thead>
                <tbody>
                    <tr *ngFor="let groupedProperty of rdfResource?.groupedProperties">
                        <td class="col-predicate">
                            <a [routerLink]="" (click)="navigate(groupedProperty.predicate)">{{ groupedProperty.prefixedPredicate }}</a>
                        </td>
                        <td class="col-objects">
                            <ul>
                                <li *ngFor="let object of groupedProperty.objects">
                                    <span *ngIf="object.type == 'uri'">
                                        <a [routerLink]="" (click)="navigate(object.uri)">{{ object.prefixedUri }}</a>
                                    </span>
                                    <span *ngIf="object.type == 'literal'">
                                        {{ object.value }} <ng-container *ngIf="object.datatype">({{ object.datatype }})</ng-container> <ng-container *ngIf="object.language">({{ object.language}})</ng-container>
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr *ngFor="let groupedProperty of rdfResource?.incomingArcs">
                        <td class="col-predicate">
                            is <a [href]="groupedProperty.predicate">{{ groupedProperty.prefixedPredicate }}</a> of
                        </td>
                        <td class="col-objects">
                            <ul>
                                <li *ngFor="let object of groupedProperty.objects">
                                    <span *ngIf="object.type == 'uri'">
                                        <a [href]="object.uri">{{ object.prefixedUri }}</a>
                                    </span>
                                    <span *ngIf="object.type == 'literal'">
                                        {{ object.value }} <ng-container *ngIf="object.datatype">({{ object.datatype }})</ng-container> <ng-container *ngIf="object.language">({{ object.language}})</ng-container>
                                    </span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="rdfResource && !viewingOntology">
                Model created in {{ rdfResource?.extractionTime }} seconds at {{ rdfResource?.cachedAt }} and stored in cache
            </p>
        </div>
    </div>
</div>