<div class="landing-container">
    <mat-card class="landing-card">
        <mat-card-header>
            <mat-card-title>Knowledge Graph On Demand</mat-card-title>
        </mat-card-header>
        <mat-card-content class="landing-content">
            <mat-form-field>
                <mat-label>Resource</mat-label>
                <input matInput placeholder="Ethan Hunt" [formControl]="txtResource" [matAutocomplete]=auto>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let resourceOption of resourceOptions" [value]="resourceOption">
                        {{ resourceOption }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Queried Wiki</mat-label>
                <mat-select [formControl]="queriedWiki">
                    <mat-option value="Wikipedia">Wikipedia</mat-option>
                    <mat-option value="Custom Wiki">Custom Wiki</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="queriedWiki.value == 'Custom Wiki'">
                <mat-label>Custom Wiki Url</mat-label>
                <input matInput placeholder="https://missionimpossible.fandom.com/" [formControl]="txtCustomWikiUrl">
            </mat-form-field>
            <mat-checkbox [formControl]="forceModelRefresh">Force refresh model</mat-checkbox>
            <div class="actions-row">
                <a routerLink="/sparql" class="lnk-sparql">Execute SPARQL</a>
                <a routerLink="/settings" class="lnk-settings">Settings</a>
                <button mat-raised-button color="primary" (click)="generateKnowledgeGraph()">Generate...</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>