.actions-row {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.settings-content {
    margin: 0 16px;
}

.settings-card {
    width: 700px;
}

mat-form-field {
    width: 100%;
}

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.lnk-landing {
    margin-right: 15px;
}

ul.extractor-list {
    list-style-type: none;
}