<mat-toolbar class="toolbar">
    <span></span>
    <span class="button-spacer"></span>
    <button mat-icon-button routerLink="/"  aria-label="Home" matTooltip="Home">
        <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>
<div class="sparql-view-container">
    <mat-card class="sparql-card">
        <mat-card-header>
            <mat-card-title *ngIf="!requestedResource">Execute SPARQL</mat-card-title>
            <mat-card-title *ngIf="requestedResource">Execute SPARQL on: {{ requestedResource }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="sparql-card-content">
            <p *ngIf="!requestedResource">Experimental mode: a knowledge graph will be built for all mentioned resources (and their backlinks) in the Sparql query</p>
            <mat-form-field class="query-textview">
                <mat-label>SPARQL Query</mat-label>
                <textarea matInput [formControl]="txtSparql"></textarea>
            </mat-form-field>
            <div class="actions-row">
                <button mat-raised-button color="primary" (click)="generateSparql()">Execute Query</button>
            </div>
        </mat-card-content>
        <app-sparql-results [sparqlResult]="sparqlResult" *ngIf="sparqlResult"></app-sparql-results>
        <p>Query executed in {{ sparqlResult?.duration }} seconds</p>
    </mat-card>
</div>






